/Z_Testing_Read_ScanData/
/Scan_File_Processor_Importer/.project
/Scan_File_Processor_Importer/bin
/Scan_File_Processor_Importer/classes
/Scan_File_Processor_Importer/deploy
/Scan_File_Processor_Importer/jar_this_project_main_importer
/Scan_File_Processor_Importer/.classpath
/WebService_Web_App/.project
/WebService_Web_App/classes
/WebService_Web_App/deploy
/WebService_Web_App/deploy_client_connector
/WebService_Web_App/deploy_spectral_file_access
/WebService_Web_App/resources__Local_Config_Only
/WebService_Web_App/y_test_webpage
/WebService_Web_App/zz_build_dir
/WebService_Web_App/zz_classes_shared_server_client
/WebService_Web_App/.classpath
/WebService_Web_App/WebRoot/META-INF
/.project
/WebService_Web_App/.settings
