<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Webservice - Web App</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

<!--   JSON responses can be activated if change code and add Jackson Jars -->
  
<!--   _________________________________________   -->

<!--   Servlets - Retrieving data from scan files using API Key and other parameters  -->

    <!-- getScanDataFromScanNumbers - Multiple scan numbers as input -->
  <servlet>
    <servlet-name>Get Scan Data From Scan Numbers Servlet - XML Response</servlet-name>
    <servlet-class>org.yeastrc.spectral_storage.get_data_webapp.servlets_retrieve_data.GetScanDataFromScanNumbers_Servlet</servlet-class>
    	<!-- required parameter resultDataFormat -->
    <init-param>
      <param-name>resultDataFormat</param-name> <!-- Must be value in Java Class ServletResultDataFormatConstants -->
      <param-value>XML</param-value> <!-- Must be value in Java Class ServletResultDataFormatConstants -->
    </init-param>    
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Get Scan Data From Scan Numbers Servlet - XML Response</servlet-name>
    <url-pattern>/query/getScanDataFromScanNumbers_XML</url-pattern>
  </servlet-mapping>     
  
    <!-- getScanData_AllScans_ExcludePeaks_Servlet -  -->
  <servlet>
    <servlet-name>Get Scan Data All Scans Exclude Peaks Servlet - XML Response</servlet-name>
    <servlet-class>org.yeastrc.spectral_storage.get_data_webapp.servlets_retrieve_data.GetScanData_AllScans_ExcludePeaks_Servlet</servlet-class>
    	<!-- required parameter resultDataFormat -->
    <init-param>
      <param-name>resultDataFormat</param-name> <!-- Must be value in Java Class ServletResultDataFormatConstants -->
      <param-value>XML</param-value> <!-- Must be value in Java Class ServletResultDataFormatConstants -->
    </init-param>    
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Get Scan Data All Scans Exclude Peaks Servlet - XML Response</servlet-name>
    <url-pattern>/query/getScanData_AllScans_ExcludePeaks_Servlet_XML</url-pattern>
  </servlet-mapping>     
  
    <!-- getScanRetentionTimes - Filtered based on request, or all if no filters -->
  <servlet>
    <servlet-name>Get Scan Numbers Servlet - XML Response</servlet-name>
    <servlet-class>org.yeastrc.spectral_storage.get_data_webapp.servlets_retrieve_data.GetScanNumbers_Servlet</servlet-class>
    	<!-- required parameter resultDataFormat -->
    <init-param>
      <param-name>resultDataFormat</param-name> <!-- Must be value in Java Class ServletResultDataFormatConstants -->
      <param-value>XML</param-value> <!-- Must be value in Java Class ServletResultDataFormatConstants -->
    </init-param>    
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Get Scan Numbers Servlet - XML Response</servlet-name>
    <url-pattern>/query/getScanNumbers_XML</url-pattern>
  </servlet-mapping>     
        
    <!-- getScanRetentionTimes - Filtered based on request, or all if no filters -->
  <servlet>
    <servlet-name>Get Scan Retention Times Servlet - XML Response</servlet-name>
    <servlet-class>org.yeastrc.spectral_storage.get_data_webapp.servlets_retrieve_data.GetScanRetentionTimes_Servlet</servlet-class>
    	<!-- required parameter resultDataFormat -->
    <init-param>
      <param-name>resultDataFormat</param-name> <!-- Must be value in Java Class ServletResultDataFormatConstants -->
      <param-value>XML</param-value> <!-- Must be value in Java Class ServletResultDataFormatConstants -->
    </init-param>    
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Get Scan Retention Times Servlet - XML Response</servlet-name>
    <url-pattern>/query/getScanRetentionTimes_XML</url-pattern>
  </servlet-mapping>     
        
    <!-- getScanNumbersFromRetentionTimeRange -->
  <servlet>
    <servlet-name>Get Scan Numbers From Retention Time Range Servlet - XML Response</servlet-name>
    <servlet-class>org.yeastrc.spectral_storage.get_data_webapp.servlets_retrieve_data.GetScanNumbersFromRetentionTimeRange_Servlet</servlet-class>
    	<!-- required parameter resultDataFormat -->
    <init-param>
      <param-name>resultDataFormat</param-name> <!-- Must be value in Java Class ServletResultDataFormatConstants -->
      <param-value>XML</param-value> <!-- Must be value in Java Class ServletResultDataFormatConstants -->
    </init-param>    
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Get Scan Numbers From Retention Time Range Servlet - XML Response</servlet-name>
    <url-pattern>/query/getScanNumbersFromRetentionTimeRange_XML</url-pattern>
  </servlet-mapping>     
   
    <!-- getScansDataFromRetentionTimeRange -->
  <servlet>
    <servlet-name>Get Scans Data From Retention Time Range Servlet - XML Response</servlet-name>
    <servlet-class>org.yeastrc.spectral_storage.get_data_webapp.servlets_retrieve_data.GetScansDataFromRetentionTimeRange_Servlet</servlet-class>
    	<!-- required parameter resultDataFormat -->
    <init-param>
      <param-name>resultDataFormat</param-name> <!-- Must be value in Java Class ServletResultDataFormatConstants -->
      <param-value>XML</param-value> <!-- Must be value in Java Class ServletResultDataFormatConstants -->
    </init-param>    
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Get Scans Data From Retention Time Range Servlet - XML Response</servlet-name>
    <url-pattern>/query/getScansDataFromRetentionTimeRange_XML</url-pattern>
  </servlet-mapping>     
  
  

    <!-- getSummaryDataPerScanLevel -->
  <servlet>
    <servlet-name>Get Scan Summary Data Per Scan Level Servlet - XML Response</servlet-name>
    <servlet-class>org.yeastrc.spectral_storage.get_data_webapp.servlets_retrieve_data.GetSummaryDataPerScanLevel_Servlet</servlet-class>
    	<!-- required parameter resultDataFormat -->
    <init-param>
      <param-name>resultDataFormat</param-name> <!-- Must be value in Java Class ServletResultDataFormatConstants -->
      <param-value>XML</param-value> <!-- Must be value in Java Class ServletResultDataFormatConstants -->
    </init-param>    
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Get Scan Summary Data Per Scan Level Servlet - XML Response</servlet-name>
    <url-pattern>/query/getSummaryDataPerScanLevel_XML</url-pattern>
  </servlet-mapping>     
  
	
	<!-- Servlets that return other than XML  -->
	
   
    <!-- GetScanPeakIntensityBinnedOn_RT_MZ_Servlet - Returns JSON Gzipped since that is what is stored in the file -->
  <servlet>
    <servlet-name>Get Scan Peak Intensity Binned on RT MZ Servlet - JSON Gzipped Response</servlet-name>
    <servlet-class>org.yeastrc.spectral_storage.get_data_webapp.servlets_retrieve_data.GetScanPeakIntensityBinnedOn_RT_MZ_Servlet</servlet-class>
    	<!-- required parameter resultDataFormat -->
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Get Scan Peak Intensity Binned on RT MZ Servlet - JSON Gzipped Response</servlet-name>
    <url-pattern>/query/getScanPeakIntensityBinnedOn_RT_MZ_JSON_GZIPPED</url-pattern>
  </servlet-mapping>    
  
  
  
  
<!--   Query Servlets - All paths start with "/admin/" for Admin Access Control Filter -->

  
   <!-- Init admin page and forward to admin JSP -->
  <servlet>
    <servlet-name>Admin Init/Page Servlet</servlet-name>
    <servlet-class>org.yeastrc.spectral_storage.get_data_webapp.servlets_admin.AdminInitServlet</servlet-class>
    <load-on-startup>3</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin Init/Page Servlet</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>  
  
  <servlet>
    <servlet-name>Reload Config Servlet</servlet-name>
    <servlet-class>org.yeastrc.spectral_storage.get_data_webapp.servlets_admin.ReloadConfigServlet</servlet-class>
    <load-on-startup>3</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Reload Config Servlet</servlet-name>
    <url-pattern>/admin/reloadConfig</url-pattern>
  </servlet-mapping>  
    
  <!-- Filters - run on each request -->

    <!-- filter to set character encoding on each request -->
    
  <filter>
    <filter-name>Set Character Encoding</filter-name>
    <filter-class>org.apache.filters.SetCharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>ignore</param-name>
      <param-value>false</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>Set Character Encoding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

    <!-- filter for Access Control -->
    
    <filter>
        <filter-name>Access Control</filter-name>
        <filter-class>org.yeastrc.spectral_storage.get_data_webapp.servlet_filter__access_control.AccessControl_ServletFilter</filter-class>
    	<init-param>
	      <param-name>access.control.type</param-name>
	      <param-value>overall</param-value> <!-- See class AccessControl_ServletFilter for valid values -->
    	</init-param>
    </filter>

    <filter-mapping>
        <filter-name>Access Control</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    

	<!-- filter for Admin Access Control - All paths start with "/admin/" for Admin Access Control Filter -->

    <filter>
        <filter-name>Admin Access Control</filter-name>
        <filter-class>org.yeastrc.spectral_storage.get_data_webapp.servlet_filter__access_control.AccessControl_ServletFilter</filter-class>
    	<init-param>
	      <param-name>access.control.type</param-name>
	      <param-value>admin</param-value> <!-- See class AccessControl_ServletFilter for valid values -->
    	</init-param>
    </filter>

    <filter-mapping>
        <filter-name>Admin Access Control</filter-name>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>    

	<!-- filter for Query Access Control - All paths start with "/query/" for Query Access Control Filter -->

    <filter>
        <filter-name>Query Access Control</filter-name>
        <filter-class>org.yeastrc.spectral_storage.get_data_webapp.servlet_filter__access_control.AccessControl_ServletFilter</filter-class>
    	<init-param>
	      <param-name>access.control.type</param-name>
	      <param-value>query</param-value> <!-- See class AccessControl_ServletFilter for valid values -->
    	</init-param>
    </filter>

    <filter-mapping>
        <filter-name>Query Access Control</filter-name>
        <url-pattern>/query/*</url-pattern>
    </filter-mapping>    
    
	<!-- Servlet Context Listeners.  Called on Web app startup and shutdown -->
	<listener>
		<listener-class>
		org.yeastrc.spectral_storage.get_data_webapp.servlet_context.ServletContextAppListener
		</listener-class>
	</listener>
	  
  <error-page>
    <error-code>500</error-code>
    <location>/WEB-INF/jsp-pages/generalError.jsp</location>
  </error-page>
  <error-page>
    <error-code>503</error-code>
    <location>/WEB-INF/jsp-pages/generalError.jsp</location>
  </error-page>
</web-app>